<div class="benefits wrapper">
<h2 class="benefits__title">Price Suggester saves you time and money</h2>
    <div class="benefits__main">
        <div class="benefits__item">
            <div class="benefits__img benefits__img_first"></div>
            <div class="benefits__text">
            <p>We will find the lowest prices for you</p>
            </div>
        </div>
        
                <div class="benefits__item">
            <div class="benefits__img benefits__img_second"></div>
            <div class="benefits__text">
            <p>Comparison of prices among 1000+ sellers</p>
            </div>
        </div>
        
                <div class="benefits__item">
            <div class="benefits__img benefits__img_third"></div>
            <div class="benefits__text">
            <p>Global supporting and requires no configuration</p>
            </div>
        </div>
    </div>
</div>