<div class="feedback">
              <div class="feedback__static rating">
    <h3 class="rating__title">Why people choose us</h3>
        <img class="rating__img" src="images/rating.png">
        <p class="rating__text">Chrome webstore rating </p>
    </div>
<div class="slider">
        <div class="slide">
            <div class="slide__box">
            <div class="slide__left">
            <p class="slide__name">Boris Grebenschikov</p>
            <div class="slide__photo">
            <img src="images/photo.jpg" alt="photo">
            </div>
            </div>
        
            <div class="slider__right">
            <div class="slide__q">
            <img class="slide__q" src="images/q.png"></div>
            <div class="slide__feedback">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.s</p>
            </div>
                </div>
        </div>
              </div>
            
            <div class="slide">
            <div class="slide__box">
            <div class="slide__left">
            <p class="slide__name">Boris Grebenschikov</p>
            <div class="slide__photo">
            <img src="images/photo.jpg" alt="photo">
            </div>
            </div>
        
            <div class="slider__right">
            <div class="slide__q">
            <img class="slide__q" src="images/q.png"></div>
            <div class="slide__feedback">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.s</p>
            </div>
                </div>
        </div>
              </div>
    
          </div>
</div>
