<div class="now">
    <h4 class="now__title">Don't waste your time!<br>
        Start shopping easily with Price Suggester right now</h4>
    <a class="nowButton"href="#">
            <img src="images/g.png" alt="" class="nowButton__img">
            <p class="nowButton__text_first">Get Price Suggester</p>
            <p class="nowButton__text_second">for Google Chrome</p>
        </a>
</div>