<div class="form">
<h6 class="form__title">Feedback</h6>
    <div class="form__close"></div>
    <lable for="name">Your name</lable>
    <input type="text" name="name" id="name" required>
    <lable for="email">E-mail</lable>
    <input type="email" name="email" id="email" required>
    
</div>