
.benefits {
    padding: 20px 0 160px 0;
    @include bp (1024px) {
        padding: 20px 0 115px;
    }
    @include bp (820px) {
        padding: 20px 18px 115px;
    }
    .slick-list {
        padding-top: 3px !important;
    }
    @include bp (500px) {
        font-size: 0.6em;
    }
}
.benefits__title {
    font-size: 36px;
    margin: 72px 0 120px 0;
    text-align: center;
    @include bp (1024px) {
        font-size: 28px;
        margin: 53px 0 82px;
    }
    @include bp (830px) {
        font-size: 2.5em;
        margin: 1.125em 0 3.125em;
    }
}

.benefits__main {
    display: flex;
    justify-content: space-around;
    @include bp (1024px) {
        max-width: 865px;
        margin: 0 auto;
    }
    @include bp (500px) {
        flex-direction: column;
    }
}
.benefits__item {
    text-align: contain;
}
.benefits__img{
    width: 122px;
    height: 122px;
    margin: 0 auto 50px;
    border: 1px solid #c1daec;
    background: url('../images/benefits.png') no-repeat;
    position: relative;
    @include bp (1024px){
        margin: 0 auto 36px;
    }
    @include bp (820px) {
        width: 200px;
        height: 200px;
        background-size: 1295px auto;
    }
    @include bp (500px) {
        width: 122px;
        height: 122px;
        margin: 0 auto 8px;
        background-size: auto;
    }
}
.benefits__img:before {
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    border-top: 4px solid $blue;
    border-left: 4px solid $blue;
    top: -4px;
    left: -4px;
}

.benefits__img:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-bottom: 4px solid $blue;
    border-right: 4px solid $blue;
    bottom: -4px;
    right: -4px;
}

.benefits__img_first {
    background-position: -7px -2px;
    @include bp (500px) {
        background-position: -7px -2px;
    }
}
.benefits__img_second {
    background-position: -344px -2px;
    @include bp (820px) {
        background-position: -550px -2px;
    }
    @include bp (500px) {
        background-position: -344px -2px;
    }
}
.benefits__img_third {
    background-position: -679px 0;
    @include bp (820px) {
        background-position: -1100px -2px;
    }
    @include bp (500px) {
        background-position: -679px -2px;
    }
}
.benefits__text {
    font-size: 1.125em;
    line-height: 1.8;
    max-width: 250px;
    text-align: center;
    margin: auto;
    @include bp (1024px) {
        font-size: 1em;
        max-width: 210px;
    }
}
.navdots {
    position: relative;
}
.benefits__slider .slick-dots {
        bottom: -30px;
        left: calc(50% - 35px);
    }
.benefits .slick-slider {
    width: 300px;
    margin: auto;
    @include bp (300px) {
        width: auto;
    }
}