.benefits {
    background: #fff;
    padding: 20px 0 160px 0;
}
.benefits__title {
    font-size: 36px;
    margin: 72px 0 120px 0;
    text-align: center;
}
.benefits__main {
    display: flex;
    justify-content: space-around;
}
.benefits__item {
    text-align: contain;
}
.benefits__img{
    width: 122px;
    height: 122px;
    margin: 0 auto 50px;
    border: 1px solid #c1daec;
    background: url('../images/benefits.png') no-repeat;
    position: relative;
}
.benefits__img:before {
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    border-top: 4px solid $blue;
    border-left: 4px solid $blue;
    top: -4px;
    left: -4px;
}

.benefits__img:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-bottom: 4px solid $blue;
    border-right: 4px solid $blue;
    bottom: -4px;
    right: -4px;
}

.benefits__img_first {
    background-position: -7px -2px;
}
.benefits__img_second {
    background-position: -344px -2px;
}
.benefits__img_third {
    background-position: -679px 0;
}
.benefits__text {
    font-size: 18px;
    line-height: 1.8;
    max-width: 250px;
    text-align: center;
}


@media (max-width:1024px) {
    .benefits__title {
        font-size: 28px;
        margin: 53px 0 82px;
    }
    .benefits__text {
        font-size: 16px;
    }
    .benefits__text {
        max-width: 210px;
    }
    .benefits__img {
    margin: 0 auto 36px;
    }
.benefits__main {
    max-width: 865px;
    margin: 0 auto;
    }
    .benefits {
    padding: 20px 0 115px;
    }

}

@media (max-width:640px) {
    h2.benefits__title {
    font-size: 2.5em;
        margin: 2.125em 0 5.125em;
}
}
