
.benefits {
    background: #fff;
    padding: 20px 0 160px 0;
}
.benefits__title {
    font-size: 36px;
    margin: 72px 0 120px 0;
    text-align: center;
}
.benefits__main {
    display: flex;
    justify-content: space-around;
}
.benefits__item {
    text-align: contain;
}
.benefits__img{
    width: 122px;
    height: 122px;
    margin: 0 auto 50px;
    border: 1px solid #c1daec;
    background: url('../images/benefits.png') no-repeat;
    position: relative;
}
.benefits__img:before {
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    border-top: 4px solid $blue;
    border-left: 4px solid $blue;
    top: -4px;
    left: -4px;
}

.benefits__img:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-bottom: 4px solid $blue;
    border-right: 4px solid $blue;
    bottom: -4px;
    right: -4px;
}

.benefits__img_first {
    background-position: -7px -2px;
}
.benefits__img_second {
    background-position: -344px -2px;
}
.benefits__img_third {
    background-position: -679px 0;
}
.benefits__text {
    font-size: 1.125em;
    line-height: 1.8;
    max-width: 250px;
    text-align: center;
    margin: auto;
}
.navdots {
    position: relative;
}
.benefits__slider .slick-dots {
        bottom: -30px;
        left: calc(50% - 35px);
    }
.benefits .slick-slider {
    width: 300px;
    margin: auto;
}

@media (max-width:1024px) {
    .benefits__title {
        font-size: 28px;
        margin: 53px 0 82px;
    }
    .benefits__text {
        font-size: 1em;
    }
    .benefits__text {
        max-width: 210px;
    }
    .benefits__img {
    margin: 0 auto 36px;
    }
.benefits__main {
    max-width: 865px;
    margin: 0 auto;
    }
    .benefits {
    padding: 20px 0 115px;
    }

}

@media (max-width:820px) {
    .benefits {
    padding: 20px 18px 115px;
}
    h2.benefits__title {
    font-size: 2.5em;
    margin: 1.125em 0 3.125em;
}
    .slick-track {
        outline: none;
    }
    .benefits__img {
    width: 200px;
    height: 200px;
    background-size: 1295px auto;
}
    .benefits__img_second {
    background-position: -550px -2px;
}
.benefits__img_third {
    background-position: -1100px 0;
}
    
  .benefits .slick-list {
        padding-top: 3px !important;
    }
}

@media (max-width:600px) {
    h2.benefits__title {
    margin: 2.125em 0 2.125em;
}
}
    
    
@media (max-width:500px) {
    .benefits {
        font-size: 0.6em;
    }
    .benefits__main {
        flex-direction: column;
    }
    .benefits__img {
        width: 122px;
        height: 122px;
    margin: 0 auto 8px;
        background-size: auto;
}
    .benefits__img_first {
    background-position: -7px -2px;
}
.benefits__img_second {
    background-position: -344px -2px;
}
.benefits__img_third {
    background-position: -679px 0;
}
}
@media (max-width:300px) {
   .benefits .slick-slider {
    width: auto;
}
}
