.stores {
    background: #fff;
    padding: 90px 0 95px 0;
}
.stores__title {
    font-size: 36px;
    text-align: center;
    margin: 0 0 77px 0;
}
.stores__first {
    display: flex;
    justify-content: space-around;
    margin: 0 0 47px 0;
    
}
.stores__big {
    flex-grow: 1;
    flex-basis: 400px;
    border-right: 1px solid $lightblue;
    padding: 90px 0 90px 0;
}
.stores__big_third {
    border-right: none;
}
.stores__first_imgFirst {
    margin: 8px 0px 0px 0px;
}
.stores__first_imgSecond {
    margin: 0px 0px 0px 0px;
}

.stores__first_imgThird {
    margin: 8px 0px 0px 0px;
}


.stores__link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.stores__second {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stores__borderBottom {
    border-bottom: 1px solid $lightblue;
}
.stores__second {
    margin: 0 0 65px 0;
}

.stores__small {
    flex-grow: 1;
    border-right: 1px solid $lightblue;
    flex-basis: 170px;
    align-content: stretch;
    padding: 40px 0;
    border-bottom: 1px solid $lightblue;
 }

.stores__small_last {
    border-right: none;
}
.stores__small_fifth {
    border-right: none;
}
.stores__small_sixth, .stores__small_seventh, .stores__small_eighth,  .stores__small_ninth, .stores__small_last{
    border-bottom: none;
}

.stores__seeall {
    text-align: center;
}
.stores__seeall_link {
    text-decoration: none;
    color: $blue;
    font-size: 18px;
}
.stores__big_fourth {
    display: none;
}
@media (max-width:1024px) {
    .stores {
        padding: 73px 0 75px;
        max-width: 890px;
    }
    .stores__title {
    font-size: 28px;
    margin: 0 0 60px;
}
    .stores__big {
        padding: 73px 0;
    }
    .stores__small {
        padding: 31px 0;
    }
    .stores__second {
    margin: 0 0 47px;
}
    .stores__seeall {
        font-size: 16px;
    }
}
@media (max-width:855px) {
    .stores__small {
    flex-basis: 140px;
    }
}
@media (max-width:710px) {
    .stores__small {
    flex-basis: 120px;
    }
}
@media (max-width:710px) {
        .stores__small {
    flex-basis: 10.625em;
    }
    .stores__first {
        flex-wrap: wrap;
    }
    .stores__big {
        flex-basis: 13.75em;
    }
    .stores__big_third {
        border-right: 1px solid $lightblue;
    }
    .stores__big_fourth {
        border-right: none;
    }
    .stores__big_fourth {
    display: block;
}
    .stores__small_first {
        display: none;
    }

    .stores__big:nth-child(1), .stores__big:nth-child(2){
    border-bottom: 1px solid $lightblue;
    }
    .stores__big_second {
        border-right: none;
        border-bottom: 1px solid $lightblue;
    }
    .stores__small_fourth {
        border-right: none;
    }
    .stores__small_fifth {
        border-right: 1px solid $lightblue;
    }
    .stores__small_sixth {
        border-bottom: 1px solid $lightblue;
    }
    .stores__small_seventh {
        border-bottom: 1px solid $lightblue;
        border-right: none;
    }
    .stores {
    padding: 4.6525em 1.3333em 4.6875em;
}
}