.video {
position: relative;
}
#myvideo {
    position: relative;
}

#controls span {
    //display:block;
}
#playpause {
    z-index: 2;
}
.paused {
    background: $blue url(../images/play.png) no-repeat;
    width:180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 81px);
    top: calc(50% - 81px);
    overflow: hidden;
}
.paused:hover {
    background: $darkblue url(../images/play.png) no-repeat;
}

.plays {
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999px;
    overflow: hidden;
}

.howWorks {
    color: #fff;
    font-size: 36px;
    position: absolute;
    top: calc(50% + 115px);
    left: calc(50% - 156px);
    z-index: 2;
}
.invisible {
    display: none;
}
.video__overlay {
    background: url(../images/video.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

@media (max-width:1024px) {
    .paused {
    left: calc(50% - 90px);
    top: calc(50% - 120px);
    }
    .howWorks {
    font-size: 28px;
    top: calc(50% + 100px);
    left: calc(50% - 119px);
}
}
@media (max-width:710px) {
    .paused {
    width:6.25em;
    height: 6.25em;
    background-size: cover;
    background-position: 0.125em 0.125em;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 3.125em);
    top: calc(50% - 3.125em);
    }
}