.feedback {
    background: linear-gradient(to right, #3283c1 0, #3283c1 30%, #e2ecf6 30%, #e2ecf6 100%);
    position: relative;
}
.feedback__static {
    position: absolute;
    top:0;
    left: 0;
    width: 300px;
    box-sizing: border-box;
    padding: 50px 30px 20px;
}
.rating__title {
    color: #fff;
    font-size: 36px;
    margin: 0 0 30px 0;
}
.rating__img {
    
}
.rating__text {
    font-size: 12px;
}
.slide {
    display: flex !important;
    padding: 150px 10px 50px 30px;
    box-sizing: border-box;
}
.slide__name {
    flex-basis: 150px;
    color: #fff;
    font-size: 18px;
    margin: 190px 10px 0 0;
}
.slide__q {
    margin: 0 15px 0 0;
}
.slide__photo {
    flex-shrink: 0;
    width: 215px;
    height: 215px;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 50px 0 0;
}
.slide__feedback {
    flex-basis: 400px;
    line-height: 2;
}

//Slider


.slidesjs-previous {
    display: block;
    width: 80px;
    height: 100px;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../images/arrow.png");
    left: 220px;
    bottom: 0;
    position: absolute;
    
}
.slidesjs-next {
    display: block;
    width: 80px;
    height: 100px;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../images/arrow.png") 80px 0;
    position: absolute;
    left: 301px;
    bottom: 0;
}
.slidesjs-pagination {
    display: flex;
    position: absolute;
    left: 500px;
    bottom: 50px;
    margin: 0;
    padding: 0;
}
.slidesjs-pagination-item {
    list-style: none;
    text-indent: -9999px;
}

.slidesjs-pagination-item a {
    display: block;
    width: 10px;
    height: 10px;
    background: $lightblue;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.slidesjs-pagination-item a.active {
    background: $blue;
}
.slidesjs-container {
    padding: 0 0 50px 0;
}
@media (max-width:880px) {
    .slidesjs-container {
    padding: 0 0 150px 0;
}
    .slide__photo, .slide__photo img {
        width: 150px;
        height: 150px;
    }
    .gradient {
    background: linear-gradient(to right,#3283c1 0,#3283c1 250px,#e2ecf6 250px,#e2ecf6 1012px);
}
    .slidesjs-previous {
    left: 170px;
}
    .slidesjs-next {
    left: 251px;
    }
}
@media (max-width:700px) {
    .slidesjs-container {
    padding: 0 0 200px 0;
}
}
@media (max-width:641px) {
    .gradient {
    background: linear-gradient(to bottom, #3283c1 0, #3283c1 250px, #e2ecf6 250px, #e2ecf6 600px);
    }
    .feedback__static {
    width: 100%;
    right: 0;
        text-align: center;
}
    .slide__photo {
        order: -1;
        text-align: center;
        margin: 0 auto 20px;
    }
    .slide__name {
        order: 0;
        margin: 0 auto 20px;
        color: #000;
        flex-basis: auto;
    }
    .slide__q {
        
    }
        .slide__feedback {
            margin: -30px 10px 10px 40px;
            flex-basis: auto;

    }

    .slide {
    padding: 170px 10px 50px 30px;
        flex-direction: column;
        align-content: center;
        
    }
        .slidesjs-previous, .slidesjs-next {
    display: none;
    }
    .slidesjs-container {
    padding: 0 0 300px;
}
    .slidesjs-pagination {
        left:calc(50% - 33px);
    }

}
@media (max-width:550px) {
        .slidesjs-container {
        min-height: 400px;
    }

}