.now {
    text-align: center;
    font-size: 36px;
    padding: 0 0 50px 0;
}
.nowButton {
    margin: 0 auto;
}
.nowButton__text_first {
    font-size: 20px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.nowButton__text_second {
    font-size: 14px;
    opacity: 0.6;
}