.now {
    text-align: center;
    font-size: 36px;
    padding: 87px 0 100px 0;
}
.now__title {
    margin: 0 0 72px 0;
    line-height: 1.4;
}
.nowButton {
    margin: 0 auto;
    width: 345px
}
.nowButton__text_first {
    font-size: 20px;
    text-align: left;
    margin: 4px 0 7px 72px;
    text-transform: uppercase;
}
.nowButton__text_second {
    font-size: 14px;
    opacity: 0.6;
    text-align: left;
    margin: 0 0 0 72px;
}
.nowButton__img {
    margin: -3px -15px 0 7px;
    float: left;
    overflow: hidden;
}