.video {
position: relative;
}
#myvideo {
    position: relative;
}

#controls span {
    display:block;
}
#playpause {
    background:url(../images/play.png) no-repeat;
    width:172px;
    height: 172px;
    position: absolute;
    left: calc(50% - 81px);
    top: calc(50% - 81px);
    text-indent: -9999px;
    overflow: hidden;
}
.howWorkes {
    color: #fff;
    font-size: 36px;
    position: absolute;
    top: calc(50% + 115px);
    left: calc(50% - 156px);
}