#footer {
    border-top: 1px solid $lightblue;
    display: flex;
    max-width: 1190px;
    margin: auto;
    padding: 36px 0 50px 0;
}
.copyright {
    opacity: 0.6;
    margin: 0 0 24px 0;
}
.fotter__left {
    flex-basis: 390px;
    flex-grow: 0;
    margin: 0 0 0 0;
    font-size: 12px;
    line-height: 1.6;
    padding: 0 0 0 10px;
}
.feedback__title {
    margin: 0 0 36px 0;
    font-size: 24px;
}
.btn_feedback {
    font-size: 20px;
    display: inline-block;
    padding: 24px 35px 19px 22px;
    margin: 0 0 0 6px;
    color: $lightblue;
    border: 1px solid $lightblue;
    border-radius: 5px;
    text-transform: uppercase; 
}

.btn_feedback:hover {
    background: $lightblue;
    color: $blue;
} 
.fotter__link {
    color: $blue;
    display: inline-block;
    margin: 0 0 11px 0;
}
.footer__feedback {
    flex-basis: 500px;
    flex-grow: 0;
    margin: 0 0 0 200px;
}

@media (max-width:1024px) {
    #footer {
        max-width: 892px;
    }
    .feedback__title {
        font-size: 18px;
        margin: 0 0 27px;
    }
    .btn_feedback {
        font-size: 16px;
    }
    .footer__feedback {
    margin: 0 0 0 95px;
}
    .btn_feedback {
    padding: 21px 29px 14px 20px;
    margin: 0 0 0 2px;
    }
}
@media (max-width:710px) {
    #footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 4.5625em 2em 3.125em;
    }
    .footer__feedback {
        order: -1;
        flex-basis: auto;
        margin: 0 auto;
    }
    .fotter__left {
        flex-basis: auto;
        margin: 0 auto;
    }
    .feedback__title {
        font-size: 1.75em;
        margin: 0 0 1.3em 0;
    }
    .btn_feedback {
        font-size: 1.75em;
        padding: 0.9em 1.1em 0.9em 1.1em;
        margin: 0 auto 2.8em;
    }
    .copyright {
        font-size: 20px;
        line-height: 2;
        padding: 0 2em;
    }
    .fotter__link {
        font-size: 20px;
    }
}