#header {
    display: flex;
    justify-content: center;
    width: 100%;
}
.header__left {
    background: $blue;
    max-width: 250px;
    min-width: 85px;
    flex-grow: 1;
    padding: 50px 0 0 50px;
}
.header__right {
    background: $lightblue;
    flex-grow: 5;
    align-self: baseline;
    padding: 60px 0 14px 0;
}
.logo {
    display: block;
    background: url('../images/logo.png');
    width: 155px;
    height: 40px;
    text-indent: -9999px;
    overflow: hidden;
}
.header__topRight {
    font-size: 14px;
    opacity: 0.6;
    text-align: right;
}

.promo {
    display: flex;
    justify-content: space-between;
    min-width: 85px;
    max-width: 128px;
}
.promo__left {
    position: relative;
    perspective: 1000px;
    background: $blue;
    padding: 100px 0 0 0;
    position: relative;
    right: 50%;
}
.promo__right {
        background: $lightblue;
    flex-grow: 5;
    }
.promo__left_box {
    background: #fff;
    border-radius: 10px;
    position: relative;
    width: 379px;
    transform-style: preserve-3d;
    position: absolute;
    transform-origin: -100px;
    padding: 0 0 32px 0;
    margin-right: 50%;
}
.promoAnimation {
    animation: Promo 1s, Promo2 1s 1s, Promo3 1s 2s forwards;
    z-index: 10;
}
.promoAnimation2 {
    animation: Promo 1s 1s backwards, Promo2 1s 2s forwards;
    z-index: 20;
}
.promoAnimation3 {
    animation: Promo 1s 2s both;
    z-index: 30;
    position: relative;
}
.promoAnimation__img {
    margin: 38px 0 0 -47px;
}
.promoImg {
    margin: 0 0 0 -47px;
}
.promoAnimation__top {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0px;
    top: 0px;
    text-align: right;
    overflow: hidden;
}

.promoAnimation__top_suggested {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    transform: rotate(45deg);
    transform-origin: 49% 304%;
    background: $green;
    padding: 8px 50px;
    color: #fff;
    border-right: 1px solid $green;
    border-left: 1px solid $green;
}

.promoAnimation__bottom {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    font-weight: bold;
    margin: -7px 0 0 0;
}
.aminationBottom__left{
    text-transform: uppercase;
    color: $green;
    margin-left: 6px;
}
.aminationBottom__left_item {
    color: #000;
    margin: 3px 0 0 0;
}
.aminationBottom__right {
    width: 125px;
    height: 31px;
    margin: -4px 1px 0 -15px;
    border: solid 2px #d6e3f1;
    border-radius: 70px;
    padding: 4px;
    color: $blue;
    font-size: 20px;
    position: relative;
    font-size: 24px;
    font-weight: bold;
}
.aminationBottom__right img {
    position: absolute;
    right: 16px;
    top: 8px;
}
.aminationBottom__right_red {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 0px;
    border-bottom: 3px solid $red;
    transform: rotate(-25deg);
    transform-origin: left;
    animation: price 1s forwards;
}
.aminationBottom__right_red2 {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 0px;
    border-bottom: 3px solid $red;
    transform: rotate(-25deg);
    transform-origin: left;
    animation: price 1s 1s forwards;
}
.priceAnim {
    display: inline-block;
    animation: priceLast 1s 2s;
}
.aminationBottom__right {
    position: relative;
    text-align: left;
}
.aminationBottom__right_price {
    position: absolute;
    left: 15px;
    top: 5px;
}

.righttext__main {
    font-size: 36px;
    margin: 0px 0 19px 0;
}
.righttext__small {
    font-size: 16px;
    opacity: 0.6;
    color: #6c6c6c;
    margin: 0 0 40px 0;
    max-width: 285px;
    line-height: 1.5;
}
.promoButton {
    display: block;
    background: $blue;
    border-radius: 5px;
    padding: 19px 10px 20px 10px;
    width: 313px;
    margin: 0 100px 0 0;
} 
.promoButton__img {
    margin: -2px 15px 0 9px;
    float: left;
    overflow: hidden;
}
.promoButton__text {
    font-size: 14px;
    opacity: 0.6;
}
.promoButton__text_first {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 3px 0;
}

/*#header {
    background: linear-gradient(to right, #3283c1 0, #3283c1 36%, #e2ecf6 36%, #e2ecf6 100%);
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
}
.header {
    z-index: 1;
    display: flex;
    align-self: stretch;
    justify-content: space-around;
    max-width: 1020px;
    width: 100%;
}
.header__right {

}

.header__left {
    color: #fff;
    font-family: Symbola;
    white-space: nowrap;
    font-size: 20px;
    padding: 49px 0px 0px 10px;
    align-self: flex-start;
    flex-basis: 600px;
    flex-grow: 0;
    }



.righttext__main {
    font-size: 36px;
    margin: 0px 0 19px 0;
}
.righttext__small {
    font-size: 16px;
    opacity: 0.6;
    color: #6c6c6c;
    margin: 0 0 40px 0;
    max-width: 285px;
    line-height: 1.5;
}
.promoButton {
    display: block;
    background: $blue;
    border-radius: 5px;
    padding: 19px 10px 20px 10px;
    width: 313px;
    margin: 0 100px 0 0;
} 
.promoButton__img {
    margin: -2px 15px 0 9px;
    float: left;
    overflow: hidden;
}
.promoButton__text {
    font-size: 14px;
    opacity: 0.6;
}
.promoButton__text_first {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 3px 0;
}

*/
@keyframes Promo {
    0% {
        transform: rotateY(-180deg);
        transform-origin: left;
        margin-left: -550px;
    }
    60% {
        transform: rotateY(0deg);
        margin-left: 80px;
    }
    100% {
        transform: rotateY(0deg);
        margin-left: 80px;
    }
}
@keyframes Promo2 {
    0% {
        opacity: 1;
        margin-left: 70px;
    }
    100% {
        opacity: 0.6;
        margin-left: 9px;
        transform: scale(0.8);
        transform-origin: left;
    }
}

@keyframes Promo3 {
    0% {
        opacity: 0.6;
        margin-left: 20px;
        transform: scale(0.8);
        transform-origin: left;
    }
    100% {
        opacity: 0.3;
        margin-left: -40px;
        transform: scale(0.6);
        transform-origin: left;
    }
}

@keyframes price {
    0% {
        width: 0px;
    }
    60% {
        width: 0px;
    }
    100% {
        width: 55px;
    }
}
@keyframes priceLast {
    0% {
        font-size: 20px;;
        transform: rotate(0deg);
    }
    60% {
        font-size: 20px;;
        transform: rotate(0deg);
    }
    75% {
        font-size: 30px;
        transform: rotate(-35deg);
    }
    85% {
        font-size: 30px;
        transform: rotate(-35deg);
    }
    100% {
        font-size: 20px;
        transform: rotate(0deg);
    }
}

@media (max-width:640px) {
    .header {
        max-width: 600px;
        padding: 20px 0;
    }
    #header {
    height: auto;
    background: linear-gradient(to bottom, #3283c1 0, #3283c1 30%, #e2ecf6 30%, #e2ecf6 100%);
    }
    .header__left {
        padding: 20px 0 0 0;
    }
    .header__right {
        padding: 15px 0 10px;
        color: #fff;
    }
    .promoAnimation__img {
        width: 330px;
        margin: 30px 0 0 -30px;
    }
    .promoAnimation__top {
        width: 150px;
        height: 150px;
    }
    .promoAnimation__top_suggested {
        font-size: 12px;
        transform-origin: 42% 334%;
    }
    .promoImg {
        width: 330px;
    }
    .promo__right {
        text-align: center;
        background: $lightblue;
    }
    .promoButton {
        text-align: left;
        margin: auto;
    }
}