.wrapper {
    max-width: 1012px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
.gradient {
        background: linear-gradient(to right, #3283c1 0px, #3283c1 300px, #e2ecf6 300px, #e2ecf6 1012px);
}
