<footer id="footer">
<div class="fotter__left">
    <p class="copyright">AdTrustMedia, LLC. 2016. All rights reserved. All trademarks displayed on this web site are the exclusive property of the respective holders.</p>
    <a href="#" class="fotter__link">Terms  Conditions</a>
    <a href="#" class="fotter__link">Privacy Policy</a>
    </div>
    <div class="footer__feedback">
    <h5 class="feedback__title">Have a questions or a suggestions</h5>
        <a href="#" class="btn_feedback" id="formBtn">send feedback</a>
    </div>
</footer>