<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/slick.css">

 
<title>{{ title }}</title>
 
</head>
<body>
    {% include 'layout/_header.twig' %}
    {% include 'modules/_benefits.twig' %}
    {% include 'modules/_video.twig' %}
    {% include 'modules/_stores.twig' %}
    {% include 'modules/_feedback.twig' %}
    {% include 'modules/_now.twig' %}
    {% include 'layout/_footer.twig' %}
    {% include 'modules/_popupForm.twig' %}
    
    <script src="libs/vendor.js"></script>
    <script src="js/jquery.slides.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/slick.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script>
      $(document).ready(function(){
  $('.slider').slick({
      dots: true,
  });
});
      </script>
</body>
</html>