{# index.twig #}
{% extends "layout.twig" %}
 
{% block page %}
<header>
   <div class="header wrapper">
      <div class="header__left">
         <p>
            <span class="header__left_price">Price</span>
            <span class="header__left_suggest">$suggester</span>
         </p>
      </div>
      <div class="header__right">
         <span>Easy. Instant. Smart</span>
      </div>
   </div>
   <div class="promo wrapper">
      <div class="promo__left">
         <div class="promo__left_box promoAnimation">
            <div class="promoAnimation__top">
               <span class="promoAnimation__top_suggested">suggested</span>
            </div>
            <img class="promoAnimation__img" src="images/1.png" alt="">
            <img class="promoImg" src="images/shadow.png" alt="">
            <div class="promoAnimation__bottom aminationBottom">
               <div class="aminationBottom__left">
                  <p>best price for</p>
                  <p class="aminationBottom__left_item">sneakers</p>
               </div>
               <div class="aminationBottom__right">
                  <span class="aminationBottom__right_price">$213</span>
                  <img src="images/tray.png" alt="">
               </div>
            </div>
         </div>
         <!--end promoAnimation-->
         <div class="promo__left_box promoAnimation2">
            <div class="promoAnimation__top">
               <span class="promoAnimation__top_suggested">suggested</span>
            </div>
            <img class="promoAnimation__img" src="images/2.png" alt="">
            <img class="promoImg" src="images/shadow.png" alt="">
            <div class="promoAnimation__bottom aminationBottom">
               <div class="aminationBottom__left">
                  <p>best price for</p>
                  <p class="aminationBottom__left_item">sneakers</p>
               </div>
               <div class="aminationBottom__right">
                  <span class="aminationBottom__right_price">$213</span>
                  <img src="images/tray.png" alt="">
               </div>
            </div>
         </div>
         <!--end promoAnimation2-->
         <div class="promo__left_box promoAnimation3">
            <div class="promoAnimation__top">
               <span class="promoAnimation__top_suggested">suggested</span>
            </div>
            <img class="promoAnimation__img" src="images/1.png" alt="">
            <img class="promoImg" src="images/shadow.png" alt="">
            <div class="promoAnimation__bottom aminationBottom">
               <div class="aminationBottom__left">
                  <p>best price for</p>
                  <p class="aminationBottom__left_item">sneakers</p>
               </div>
               <div class="aminationBottom__right">
                  <span class="aminationBottom__right_price">$213</span>
                  <img src="images/tray.png" alt="">
               </div>
            </div>
         </div>
         <!--end promoAnimation3-->
      </div>
      <!--End promo__left--->
      <div class="promo__right righttext">
         <p class="righttext__main">Get the lowest possible prices instantly</p>
         <p class="righttext__small">Install Price Suggester extension into your browser</p>
         <a class="righttext__button promoButton"href="#">
            <img src="images/g.png" alt="" class="promoButton__img">
            <p class="promoButton__text_first">Use for free</p>
            <p class="promoButton__text">No span and registration forms</p>
         </a>
      </div>
   </div>
   <!--promo end-->
</header>

<div class="benefits wrapper">
<h2 class="benefits__title">Price Suggester saves you time and money</h2>
    <div class="benefits__main">
        <div class="benefits__item">
            <div class="benefits__img benefits__img_first"></div>
            <div class="benefits__text">
            <p>We will find the lowest prices for you</p>
            </div>
        </div>
        
                <div class="benefits__item">
            <div class="benefits__img benefits__img_second"></div>
            <div class="benefits__text">
            <p>We will find the lowest prices for you</p>
            </div>
        </div>
        
                <div class="benefits__item">
            <div class="benefits__img benefits__img_third"></div>
            <div class="benefits__text">
            <p>We will find the lowest prices for you</p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper video">
    <video width="100%" controls>
    <source src="movie.mp4" type="video/mp4">
    </video>
</div>

<div class="stores wrapper">
    <h2 class="stores__title">We work with the best online stores worldwide</h2>
    <div class="stores__first">
        <div class="stores__big">
            <a href="#" class="stores__link "><img src="images/amazon.png"></a>
        </div>
        
        <div class="stores__big">
            <a href="#" class="stores__link "><img src="images/ebay.png"></a>
        </div>
        
        <div class="stores__big stores__big_third">
            <a href="#" class="stores__link "><img src="images/target.png"></a>
        </div>
    </div>
    
    <div class="stores__second">
        <div class="stores__small"><a href="#" class="stores__link "><img src="images/toys.png"></a></div>
        
        <div class="stores__small "><a href="#" class="stores__link "><img src="images/sears.png"></a></div>
        
        <div class="stores__small"><a href="#" class="stores__link "><img src="images/ace.png"></a></div>
        
        <div class="stores__small"><a href="#" class="stores__link "><img src="images/walmart.png"></a></div>
        
        <div class="stores__small stores__small_last"><a href="#" class="stores__link "><img src="images/barnes.png"></a></div>
    
    </div>
    
    <div class="stores__third">
        <div class="stores__small"><a href="#" class="stores__link "><img src="images/jcp.png"></a></div>
        
        <div class="stores__small "><a href="#" class="stores__link "><img src="images/bestbuy.png"></a></div>
        
        <div class="stores__small"><a href="#" class="stores__link "><img src="images/kohls.png"></a></div>
        
        <div class="stores__small"><a href="#" class="stores__link "><img src="images/mayces.png"></a></div>
        
        <div class="stores__small stores__small_last"><a href="#" class="stores__link "><img src="images/hcn.png"></a></div>
    </div>
    
    <div class="stores__seeall">
    <a class="stores__seeall_link" href="#">See all stores</a></div>

</div>
<div class="feedback wrapper">
    <div class="feedback__static rating">
    <h3 class="rating__title">Why people choose us</h3>
        <img class="rating__img" src="images/rating.png">
        <p class="rating__text">Chrome webstore rating </p>
    </div>
    <div id="slides">
        <div class="slide">
        <p class="slide__name">Boris Grebenschikov</p>
            <div class="slide__photo">
            <img src="images/photo.jpg" alt="photo">
            </div>
            
            <div>
            <img class="slide__q" src="images/q.png"></div>
            <div class="slide__feedback">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.s</p>
            </div>
        </div>
      
                <div class="slide">
        <p class="slide__name">Boris Grebenschikov</p>
            <div class="slide__photo">
            <img src="images/photo.jpg" alt="photo">
            </div>
            
            <div>
            <img class="slide__q" src="images/q.png"></div>
            <div class="slide__feedback">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.s</p>
            </div>
        </div>
        
                <div class="slide">
        <p class="slide__name">Boris Grebenschikov</p>
            <div class="slide__photo">
            <img src="images/photo.jpg" alt="photo">
            </div>
            
            <div>
            <img class="slide__q" src="images/q.png"></div>
            <div class="slide__feedback">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.s</p>
            </div>
        </div>
        
                <div class="slide">
        <p class="slide__name">Boris Grebenschikov</p>
            <div class="slide__photo">
            <img src="images/photo.jpg" alt="photo">
            </div>
            
            <div>
            <img class="slide__q" src="images/q.png"></div>
            <div class="slide__feedback">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.s</p>
            </div>
        </div>
        
    </div>
</div>
<div class="now">
    <h4 class="now__title">Don't waste your time!</h4>
    <h4 class="now__title">Start shopping easily with Price Suggester right now</h4>
    <div class="now__button"><a href="#"><img src="images/g.png"></a></div>
</div>
{% endblock %}